/**
 * app-skeleton-3:/html/testcase/form/form.css
 *
 * @creation  2017-07-31
 * @version   1.0
 * @package   core7
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 **/

article {
	margin:  1em;
	padding: 1em;
	border: 1px solid white;
}

article > h1 {
	margin:  0;
	padding: 0;
}

div[role="table"] {
	margin: 1em;
}

div[role="th"],
div[role="td"] {
	padding: 0.5em;
}

div[role="td"] > p {
	margin: 0.5em 0;
}

input[type="text"], 
textarea {
	width: 20em;
}

textarea {
	height: 4em;
}
